* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 3px;
}

aside {
  background-color: #1892d3;
  height: 100vh;
  padding-left: 20px;
}
main {
  border: 2px solid red;
  height: 100vh;
  display: grid;
  grid-template-rows: 20% 80%;
  gap: 3px;
}

main header {
  border: 2px solid green;
}
main .content {
  border: 4px solid black;
}

svg {
  fill: #fffff9;
  width: 20px;
  height: 20px;
}

.dashboard-logo {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px 5px 20px 10px;
}
.dashboard-logo p {
  color: #fffff9;
  font-size: 1.3rem;
  font-weight: bold;
}

.aside-primary-links {
  margin: 50px 0;
}

.links li {
  cursor: pointer;
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px 5px 20px 10px;
  color: #fffff9;
  font-size: 1rem;
}